.composeBox {
  position: absolute;
  width: 40%;
  height: 60%;
  max-height: fit-content;
  background-color: white;
  color: black;
  top: 40%;
  left: 50%;
  box-shadow: 0px 0px 8px rgb(140, 138, 138);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.composeInput {
  margin-top: 7px;
  max-width: 85%;
  border: 0px solid white;
  outline: 0;
}
.composeInput:hover {
  margin-top: 7px;
  max-width: 85%;
  outline: 0;
  border: 0px solid white;
}
.composeInputSubject {
  margin-top: 7px;
  max-width: 79%;
  border: 0px solid white;
  outline: 0;
}
.composeInputSubject:hover {
  margin-top: 7px;
  max-width: 79%;
  border: 0px solid white;
  outline: 0;
}
.composeRow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.composeHeading {
  padding-top: 5px;
  background-color: rgba(192, 192, 192, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.lastRow {
  margin-bottom: 10px;
  position: fixed;
  top: 92%;
}
.sendButton {
  border-radius: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 8px black;
}
.composeInputBody {
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  border: 0px solid white;
}
