.mailRecieve {
  overflow: visible;
}
.senderMail {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}
.title {
  text-align: center;
  text-decoration: underline;
}
.bodyHeading {
  text-align: left;
}
.unreadMessage {
  color: brown;
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
}
.blueDot {
  color: blue;
  margin-left: 20px;
  font-size: small;
}
.inboxMessage {
  border: 1px solid black;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border: 1px solid white;
  font-weight: bold;
  display: block;
}
.hide {
  display: none;
  color: rgb(103, 5, 5);
  font-size: small;
  text-align: center;
}
/* to display a text when user hover on the .inboxMessage */
.inboxMessage:hover + .hide {
  display: block;
}
.countValue {
  display: none;
}
.online {
  background-color: green;
  color: white;
  font-size: x-small;
  margin-left: 5px;
  padding-left: 2px;
  padding-right: 2px;
}
.offline {
  background-color: tomato;
  color: white;
  font-size: x-small;
  margin-left: 5px;
  padding-left: 2px;
  padding-right: 2px;
}
