.sentHeading {
  text-align: center;
}
.sentMessageHeading {
  text-align: center;
}
.sentMessageBody {
  margin-bottom: 5px;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 5px;
}
