.mailBackground {
  background: url("./../../images/theme-myxwi9eaz6f90bag.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
}
.topPart {
  background-color: rgba(0, 0, 0, 0.8);
}
.icons {
  font-size: larger;
}
.search {
  width: 50%;
  background-color: rgba(125, 125, 125, 0.5);
  font-size: medium;
  font-weight: bolder;
  border-radius: 1rem;
  padding-bottom: 5px;
}
.search:hover {
  zoom: 0%;
  width: 50%;
  background-color: rgba(125, 125, 125, 0.5);
  font-size: medium;
  font-weight: bolder;
  border-radius: 1rem;
  padding-bottom: 5px;
}
.user {
  margin-left: 20%;
}
.inboxBox {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  height: 85vh;
  overflow: scroll;
}
.compose {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5%;
  padding-top: 7%;
  padding-bottom: 7%;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1100px) {
  .user {
    margin-left: 15%;
  }
}
@media screen and (max-width: 890px) {
  .user {
    margin-left: 10%;
  }
}
@media screen and (max-width: 780px) {
  .search {
    width: 40%;
    background-color: rgba(125, 125, 125, 0.5);
    font-size: medium;
    font-weight: bolder;
    border-radius: 1rem;
    padding-bottom: 5px;
  }
  .user {
    margin-left: 3%;
    margin-right: 5px;
  }
}
@media screen and (max-width: 485px) {
  .search {
    width: 20%;
    background-color: rgba(125, 125, 125, 0.5);
    font-size: medium;
    font-weight: bolder;
    border-radius: 1rem;
    padding-bottom: 5px;
  }
  .user {
    margin-left: 2%;
    margin-right: 3px;
  }
}
