.mailRecieve {
  overflow: visible;
}
.senderMail {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}
.title {
  text-align: center;
  text-decoration: underline;
}
.bodyHeading {
  text-align: left;
}
.unreadMessage {
  color: brown;
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
}
.blueDot {
  color: blue;
  margin-left: 20px;
  font-size: small;
}
.inboxMessage {
  border: 1px solid black;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
}
